@import 'tailwindcss';

@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

@layer base {
	:root {
		/* Light Mode */
		--primary: #4a6fa5;
		--background: #f0f4f8;
		--card: #ffffff;
		--text: #2d3748;
		--accent: #718096;
		--on-progress: #e6f9ee;
		--on-progress-text: #2e8b57;
		--archived: #f0f4f8;
		--archived-text: #5e718d;
	}

	.dark {
		/* Dark Mode */
		--primary: #7ba4db;
		--background: #1a202c;
		--card: #2d3748;
		--text: #edf2f7;
		--accent: #a0aec0;
		--on-progress: #2e8b57;
		--on-progress-text: #fff;
		--archived: #4a5568;
		--archived-text: #e2e8f0;
	}
}

@theme {
	--font-poppins: Poppins, 'sans-serif';
}

@layer utilities {
	/* Text */
	.text-primary {
		color: var(--primary);
	}
	.text-body {
		color: var(--text);
	}

	/* Backgrounds */
	.bg-background {
		background-color: var(--background);
	}
	.bg-primary {
		background-color: var(--primary);
	}
	.bg-card {
		background-color: var(--card);
	}

	/* Borders */
	.border-accent {
		border-color: var(--accent);
	}

	.status-on-progress {
		background-color: var(--on-progress);
		color: var(--on-progress-text);
	}

	.status-archived {
		background-color: var(--archived);
		color: var(--archived-text);
	}
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1rem;
}
